<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GameStop.Enterprise.Core" version="1.0.5" targetFramework="net452" />
  <package id="GameStop.Enterprise.Messaging.Interfaces" version="1.0.1" targetFramework="net452" />
  <package id="GameStop.Enterprise.Messaging.TIBCO.EMS" version="1.0.1" targetFramework="net452" />
  <package id="GameStop.Enterprise.Messaging.TIBCO.EMS.Producer" version="1.0.9" targetFramework="net452" />
</packages>